/* Reset default browser styles */
body,
h1,
p,
ul,
li,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  /* background-image: url("./images/background.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: backgroundSlideshow 10s infinite alternate;
}

/* Background slideshow animation */
@keyframes backgroundSlideshow {
  0% {
    background-image: url("../static/images/background.jpg");
  }
  50% {
    background-image: url("../static/images/background2.jpg");
  }
  100% {
    background-image: url("../static/images/background3.jpg");
  }
}

/* Container styling */
.container {
  max-width: 50%; /* Responsive width */
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-align: center;
}

/* Header and Footer styling */
header,
footer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  text-align: center;
}

/* Footer section */
footer {
  margin-top: auto;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
  padding: 50px;
}

/* Container styling inside header and footer */
.header-container,
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

/* Logo styling */
.header-container .logo h1 {
  margin: 0;
}

/* Navigation and Footer links styling */
.main-nav ul,
.footer-links ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.main-nav a,
.footer-links a {
  text-decoration: none;
  color: #29a6e6;
}

nav {
  padding-top: 30px;
  padding-right: 20px;
}

/* Contact info and social media links styling */
.contact-info p {
  margin: 5px 0;
  color: #6c757d;
}

.social-media a {
  margin-left: 10px;
  text-decoration: none;
  color: #29a6e6;
}

.footer-container {
  flex-direction: column;
  align-items: center;
}

.footer-links,
.contact-info,
.social-media {
  margin: 10px 0;
}

.footer-links ul {
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 5px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links ul {
    flex-direction: row;
    gap: 20px;
  }

  .contact-info,
  .social-media {
    margin: 0;
  }
}

.container p {
  color: #6c757d;
  font-size: 1rem;
}

.logo h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 3.5rem; /* Use relative units */
  color: #29a6e6;
  padding-left: 100px;
}

.container h1 {
  font-size: 1.875rem;
  color: #635454;
}

/* Text styling */
h1 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #29a6e6;
  font-size: 1.1rem;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #29a6e6;
}

/* Form element styling */
input[type="text"] {
  color: #6c757d;
  width: 70%;
  padding: 10px;
  border: 1px solid #29a6e6;
  border-radius: 10px;
  font-size: 1.2rem;
}

input[type="password"] {
  color: #6c757d;
  width: 70%;
  padding: 10px;
  border: 1px solid #29a6e6;
  border-radius: 10px;
  font-size: 1.2rem;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}

.success {
  color: green;
}

a.logout:hover {
  color: red;
}

.copyright {
  font-size: 0.875rem;
  color: #6c757d;
}

/* This will apply to all images */
img {
  width: 100px;
  height: 100px;
  margin: -10px; /* Add margin around all images */
  cursor: pointer;
}

/* This will apply to password viewing */
.password-container {
  position: relative;
  width: 100%;
}

.password-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Space for the icon */
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password i {
  font-size: 1rem;
  color: #007bff;
}

.toggle-password i:hover {
  font-size: 1.2rem;
  color: #29a6e6;
}

#select {
  color: #29a6e6;
}
